---

Checks: >
  -*, clang-analyzer-*, bugprone-*, performance-*, modernize-*, readability-*, misc-*

ChecksOptions:
- key: readability-magic-numbers.IgnoredIntegerValues
  value: '0;1;-1'
- key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
  value: '0;1;-1'

HeaderFilterRegex: '^(main|components)/'
AnalyzeTemporaryDtors: false
FormatStyle: file
WarningsAsErrors: ''
...
